.header {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Distribute space between sections */
  padding: 10px 20px;
  font-family: "Playfair Display", cursive, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  background: rgb(240, 127, 176);
  background: radial-gradient(circle, rgba(240, 127, 176, 1) 12%, rgba(23, 119, 232, 1) 100%);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  transition: height 0.3s ease-in-out; /* Smooth transition for height changes */
  animation: fadeIn 1s ease-in-out; /* Apply fade-in animation */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.logo-section {
  flex: 1; /* Occupy remaining space */
  display: flex;
  align-items: center;
}

.logo {
  height: 70px; /* Set a fixed height for the logo */
  width: auto; /* Maintain aspect ratio */
  max-width: 100%; /* Ensure logo does not overflow */
  border-radius: 2rem;
}

.tagline-section {
  flex: 1; /* Occupy remaining space */
  display: flex;
  justify-content: center; /* Center tagline horizontally */
}

.tagline {
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  white-space: nowrap; /* Prevent text wrapping */
}

.countdown-section {
  flex: 1; /* Occupy remaining space */
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Align countdown items to the right */
  text-align: right; /* Right-align countdown text */
  font-size: 24px;
}

.countdown-label {
  margin-bottom: 5px;
}

@media (max-width: 545px) {
  .tagline {
    font-size: 32px; /* Adjust font size for smaller screens */
  }
}

@media (max-width: 480px) {
  .header {
    flex-direction: column; /* Stack items vertically on smaller screens */
    align-items: center;
    justify-content: space-around;
    padding: 20px; /* Increase padding for better spacing */
  }

  .tagline {
    font-size: 24px; /* Further reduce font size for smaller screens */
  }

  .countdown-section {
    align-items: center; /* Center countdown items horizontally */
    text-align: center; /* Center-align countdown text */
  }
}
